
.vs/ScpMessages/FileContentIndex/

.vs/ScpMessages/v17/

packages/Northwood.PluginAPI.12.0.0/

packages/YamlDotNet.11.0.1/

ScpMessages/bin/Debug/

ScpMessages/obj/Debug/

packages/Newtonsoft.Json.13.0.3/

ScpMessages/obj/Release/

ScpMessages/bin/Release/

packages/Northwood.PluginAPI.13.1.0/

packages/Northwood.PluginAPI.13.1.1/
